// Секция с заголовком
.s-head
	padding-top: 105px
	&__title-wrap
		text-align: center
	&__title
		margin: 0
		text-transform: uppercase

+media(sm)
	.s-head
		padding-top: 65px

// Стандартная секция
.s-default
	$p: &
	padding-top: 135px
	&__title-wrap
		text-align: center
		margin: 0 0 127px
	&__title
		text-transform: uppercase
	&__more
		text-align: right
	&_dark
		background-color: #242424
		#{$p}__title
			color: #ffffff
	&_pb
		padding-bottom: 176px

+media(md)
	.s-default
		padding-top: 70px
		padding-left: 10px
		padding-right: 10px
		&__title-wrap
			margin: 0 0 39px
		&_pb
			padding-bottom: 68px

+media(sm)
	.s-default
		padding-left: 15px
		padding-right: 15px

// Секция с линией разделяющими секции
.s-line
	&__hr
		margin: 0
		border: none
		border-bottom: 1px solid rgba(#292929, .1)

// Секция "Смотрите также"
.s-next
	padding: 75px 0 126px
	&__title
		text-transform: uppercase
		text-align: right
	&__menu
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: flex-start
		a
			font-size: 14px
			line-height: 22px
			color: #1a1a1a
			margin-bottom: 22px
			&:last-child
				margin: 0

+media(md)
	.s-next
		padding: 75px 15px 126px
		&__title
			text-align: left
			margin: 0 0 22px

// Галерея фото
.slider-popup
	position: relative
	&__slick
	&__item
		position: relative
		width: 960px
		margin-left: 15px
		margin-right: 15px
		background-color: #f8f7f7
		+aspect-ratio(96, 68)
	&__img
		position: absolute
		top: 117px
		left: 80px
		width: calc(100% - 160px)
		height: calc(100% - 225px)
		object-fit: contain
		object-position: 50% 50%
		&_full
			top: 0
			left: 0
			width: 100%
			height: 100%
	&__arrow
		display: flex
		justify-content: center
		align-items: center
		width: 70px
		height: 70px
		padding: 0
		border: none
		outline: none !important
		background-color: $ac
		position: absolute
		top: 50%
		left: 50%
		margin-left: -35px
		transform-origin: 50% 50%
		cursor: pointer
		&::before
			content: ''
			display: block
			width: 0
			height: 0
			border-top: 7px solid transparent
			border-bottom: 7px solid transparent
			border-right: 10px solid #fff
			transform-origin: center
		&_left
			transform: translate(-493px, -50%)
		&_right
			transform: translate(493px, -50%)
			&::before
				transform: rotate(-180deg)

+media(md)
	.slider-popup
		&__item
			width: calc(100vw - 40px)
			margin-left: 5px
			margin-right: 5px
		&__arrow
			width: 60px
			height: 60px
			margin-left: -30px
			&_left
				transform: translate(calc((50vw - 30px) * -1), -50%)
			&_right
				transform: translate(calc(50vw - 30px), -50%)

// Секция клиентов
.s-customers
	&__desc
		margin: 0 0 139px
	&__btn
	&__logo-list
		display: flex
		flex-wrap: wrap
	&__logo-item
		width: 126px
		flex: 0 0 126px
		margin-right: calc((100% - 378px) / 2)
		margin-bottom: 20px
		&:nth-child(3n)
			margin-right: 0
		&:nth-last-child(1),
		&:nth-last-child(2),
		&:nth-last-child(3)
			margin-bottom: 0

+media(md)
	.s-customers
		&__desc
			margin: 0 0 52px
		&__btn
			margin: 0 0 46px
			width: 100%
		&__logo-item
			width: 50%
			flex: 0 0 50%
			margin-right: 0
			text-align: center
			&:nth-last-child(3)
				margin-bottom: 20px

+media(sm)
	.s-customers
		&__logo-item
			margin-bottom: 10px
			&:nth-last-child(3)
				margin-bottom: 10px

// Секция с описанием сразу под заголовком
.s-start-desc
	$p: &
	padding-top: 121px
	&__content
	&__btn
		margin-top: 74px

+media(md)
	.s-start-desc
		padding-top: 81px

+media(sm)
	.s-start-desc
		padding: 81px 15px 0
		&__btn
			margin-top: 52px
			width: 100%
