// Секция с заголовком
.s-head
	padding-top: 105px
	&__back
		margin-top: 41px
	&__title-wrap
		text-align: center
	&__title
		position: relative
		display: inline-block
		margin: 0
		text-transform: uppercase
	&__after-title
		position: absolute
		top: 50%
		right: -27px
		transform: translate(100%, -50%)
	&__subtitle
		display: block
		margin-top: 19px

+media(md)
	.s-head
		padding-left: 10px
		padding-right: 10px

+media(sm)
	.s-head
		padding-top: 65px
		padding-left: 15px
		padding-right: 15px
		&__back
			margin-top: 0
			margin-bottom: 30px

// Стандартная секция
.s-default
	$p: &
	&__title-wrap
		text-align: center
		margin: 0 0 127px
		&_subtitle
			text-align: left
			margin: 0 0 39px
	&__title
		display: inline-block
		text-transform: uppercase
		margin: 0
	&__more
		text-align: right
	&_dark
		background-color: #242424
		#{$p}__title
			color: #ffffff
	&_p
		padding-top: 135px
		padding-bottom: 176px
	&_pt
		padding-top: 135px
	&_pb
		padding-bottom: 176px
	&__card
		height: 100%

+media-only(lg)
	.s-default
		$p: &
		&__col
			padding-left: 15px
			padding-right: 15px
			margin-bottom: 30px
		&__row_lg
			&_2
				#{$p}
					&__col
						+b4col(50%)
						&:nth-last-child(1),
						&:nth-last-child(2):not(:nth-child(even))
							margin-bottom: 0
			&_3
				#{$p}
					&__col
						+b4col(33.3333%)
						&:nth-last-child(1),
						&:nth-last-child(2),
						&:nth-last-child(3)
							margin-bottom: 0
			&_4
				#{$p}
					&__col
						+b4col(25%)
						&:nth-last-child(1),
						&:nth-last-child(2),
						&:nth-last-child(3),
						&:nth-last-child(4)
							margin-bottom: 0
			&_5
				#{$p}
					&__col
						+b4col(20%)
						&:nth-last-child(1),
						&:nth-last-child(2),
						&:nth-last-child(3),
						&:nth-last-child(4),
						&:nth-last-child(5)
							margin-bottom: 0
			&_1, &_2, &_3, &_4, &_5
				#{$p}
					&__col_100
						+b4col(100%)

+media(md)
	.s-default
		padding-left: 10px
		padding-right: 10px
		&__title-wrap
			margin: 0 0 39px
		&__more
			margin-top: 30px
		&_p
			padding-top: 70px
			padding-bottom: 68px
		&_pt
			padding-top: 70px
		&_pb
			padding-bottom: 68px

+media-only(md)
	.s-default
		$p: &
		&__col
			margin-bottom: 20px
			padding-left: 10px
			padding-right: 10px
		&__row_md
			&_2
				#{$p}
					&__col
						+b4col(50%)
						&:nth-last-child(3),
						&:nth-last-child(4),
						&:nth-last-child(5)
							margin-bottom: 20px
						&:nth-last-child(1),
						&:nth-last-child(2):not(:nth-child(even))
							margin-bottom: 0
			&_3
				#{$p}
					&__col
						+b4col(33.3333%)
						&:nth-last-child(4),
						&:nth-last-child(5)
							margin-bottom: 20px
						&:nth-last-child(1),
						&:nth-last-child(2),
						&:nth-last-child(3)
							margin-bottom: 0
			&_1, &_2, &_3, &_4, &_5
				#{$p}
					&__col_100
						+b4col(100%)

+media(sm)
	.s-default
		padding-left: 15px
		padding-right: 15px

+media-only(sm)
	.s-default
		$p: &
		&__col
			margin-bottom: 10px
			padding-left: 5px
			padding-right: 5px
		&__row_sm
			&_1
				#{$p}
					&__col
						+b4col(100%)
						&:nth-last-child(2),
						&:nth-last-child(3),
						&:nth-last-child(4),
						&:nth-last-child(5)
							margin-bottom: 10px
						&:nth-last-child(1)
							margin-bottom: 0
			&_2
				#{$p}
					&__col
						+b4col(50%)
						&:nth-last-child(3),
						&:nth-last-child(4),
						&:nth-last-child(5)
							margin-bottom: 10px
						&:nth-last-child(1),
						&:nth-last-child(2):not(:nth-child(even))
							margin-bottom: 0
			&_1, &_2, &_3, &_4, &_5
				#{$p}
					&__col_100
						+b4col(100%)

// Секция с линией разделяющими секции
.s-line
	&__hr
		margin: 0
		border: none
		border-bottom: 1px solid rgba(#292929, .1)

+media(md)
	.s-line
		padding-left: 10px
		padding-right: 10px

+media(sm)
	.s-line
		padding-left: 15px
		padding-right: 15px

// Секция "Смотрите также"
.s-next
	padding: 75px 0 126px
	&__title
		text-transform: uppercase
		text-align: right
	&__menu

+media(md)
	.s-next
		padding-left: 10px
		padding-right: 10px
		&__title
			text-align: left
			margin: 0 0 22px

+media(sm)
	.s-next
		padding-left: 15px
		padding-right: 15px

.next-menu
	&__list
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: flex-start
		margin: 0
		padding: 0
		list-style: none
	&__item
		margin-bottom: 22px
		&:last-child
			margin: 0
	&__link
		font-size: 14px
		line-height: 22px
		color: #1a1a1a

// Галерея фото
.b-photo-slider
	position: relative
	&__slick
	&__item
		position: relative
		width: 960px
		margin-left: 15px
		margin-right: 15px
		background-color: #f8f7f7
		+aspect-ratio(96, 68)
	&__img
		position: absolute
		top: 117px
		left: 80px
		width: calc(100% - 160px)
		height: calc(100% - 225px)
		object-fit: contain
		object-position: 50% 50%
		&_full
			top: 0
			left: 0
			width: 100%
			height: 100%
	&__arrow
		display: flex
		justify-content: center
		align-items: center
		width: 70px
		height: 70px
		padding: 0
		border: none
		outline: none !important
		background-color: $ac
		position: absolute
		top: 50%
		left: 50%
		margin-left: -35px
		transform-origin: 50% 50%
		cursor: pointer
		&::before
			content: ''
			display: block
			width: 0
			height: 0
			border-top: 7px solid transparent
			border-bottom: 7px solid transparent
			border-right: 10px solid #fff
			transform-origin: center
		&_left
			transform: translate(-493px, -50%)
		&_right
			transform: translate(493px, -50%)
			&::before
				transform: rotate(-180deg)

+media(md)
	.b-photo-slider
		&__item
			width: calc(100vw - 40px)
			margin-left: 5px
			margin-right: 5px
		&__arrow
			width: 60px
			height: 60px
			margin-left: -30px
			&_left
				transform: translate(calc((50vw - 30px) * -1), -50%)
			&_right
				transform: translate(calc(50vw - 30px), -50%)

// Секция клиентов
.s-customers
	&__desc
		margin: 0 0 139px
	&__btn
	&__logo-list
		display: flex
		flex-wrap: wrap
	&__logo-item
		width: 126px
		flex: 0 0 126px
		margin-right: calc((100% - 378px) / 2)
		margin-bottom: 20px
		&:nth-child(3n)
			margin-right: 0
		&:nth-last-child(1),
		&:nth-last-child(2),
		&:nth-last-child(3)
			margin-bottom: 0

+media(md)
	.s-customers
		&__desc
			margin: 0 0 52px
		&__btn
			margin: 0 0 46px
			width: 100%
		&__logo-item
			width: 50%
			flex: 0 0 50%
			margin-right: 0
			text-align: center
			&:nth-last-child(3)
				margin-bottom: 20px

+media(sm)
	.s-customers
		&__logo-item
			margin-bottom: 10px
			&:nth-last-child(3)
				margin-bottom: 10px

// Секция с описанием сразу под заголовком
.s-start-desc
	$p: &
	padding-top: 121px
	&__content
	&__btn
		margin-top: 74px

+media(md)
	.s-start-desc
		padding-top: 81px
		padding-left: 10px
		padding-right: 10px

+media(sm)
	.s-start-desc
		padding-left: 15px
		padding-right: 15px
		&__btn
			margin-top: 52px
			width: 100%

// Аккордион
.b-accordion
	$p: &
	&__item
		border-top: 1px solid rgba(#292929, .1)
		&:last-child
			border-bottom: 1px solid rgba(#292929, .1)
		&.active
			#{$p}__btn .vertical
				transform: rotate(-90deg)
				opacity: 0
	&__head
		display: flex
		justify-content: space-between
		align-items: center
		padding: 50px 0 45px
	&__title
		margin: 0
		text-transform: uppercase
		cursor: pointer
	&__btn
		display: flex
		justify-content: center
		align-items: center
		width: 30px
		height: 30px
		background-color: transparent
		border: none
		margin-right: -8px
		padding: 0
		outline: none !important
		cursor: pointer
		.vertical
			transform-origin: 50% 50%
			transition: all .2s ease-out
	&__body
		padding: 0 0 60px

+media(md)
	.b-accordion
		&__head
			padding: 26px 0

// Блок с описанием в аккордионах и т.д.
.b-desc
	h4
		text-transform: uppercase
		margin: 0 0 22px
	h5
		margin: 0 0 22px
		padding-left: 12px
	ul, ol
		margin: 0 0 28px
	*:last-child
		margin: 0

// Секция с кнопками фильтрации карточек
.s-navs
	padding: 126px 0 66px
	&__list
		margin-bottom: -20px

// Секция с кнопкой "Загрузить ещё"
.s-load-more
	padding: 59px 0 79px
	&__btn-wrap
		width: 100%
		text-align: center
	&__btn
	&_no-pb
		padding-bottom: 0

+media(md)
	.s-load-more
		padding: 35px 0 43px

// Секция "Фото галерея"
+media(md)
	.s-photo
		&__slider
			margin-right: -10px
			margin-left: -10px

+media(sm)
	.s-photo
		&__slider
			margin-right: -15px
			margin-left: -15px
