/* Страница: Каталог */
// Секция с карточками категорий
.s-catalog-category
	padding-top: 115px
	padding-bottom: 132px

/* Страница: Каталог - Категория */

// Секция с карточками продуктов
.s-catalog-category-product
	padding-top: 93px
	padding-bottom: 75px

+media(md)
	.s-catalog-category-product
		padding-top: 76px
		padding-bottom: 30px

// Каточка продукта
.b-product
	display: block
	height: 374px
	padding: 40px 50px 0
	text-decoration: none !important
	background-color: #f8f7f7
	&__img-wrap
		position: relative
		width: 100%
		max-width: 200px
		margin: 0 auto 52px
		+aspect-ratio(1)
	&__img
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: continue
		object-position: 50% 50%
	&__content
		display: flex
		flex-direction: column
		justify-content: center
		text-align: center
	&__title
		margin: 0 0 8px
		font-size: 14px
		font-weight: 500
		line-height: 22px
		color: #1a1a1a
	&__subtitle

+media(md)
	.b-product
		padding: 25px 12px 0
		height: 264px
		&__img-wrap
			&::before,
			&::after
				display: none
		&__img-wrap
			margin: 0 auto 25px
		&__img
			display: block
			position: static
			width: 113px
			height: 113px
			margin: 0 auto

/* Страница: Каталог - Продукт */
// Первая секиция со слайдером превьюх и описанием
.s-catalog-product-main
	padding-top: 10px
	padding-bottom: 62px
	&__back
		margin: 0 0 20px
	&__big-slider
		margin: 0 0 20px
		padding-right: 20px
	&__small-slider
		padding-right: 20px

+media(md)
	.s-catalog-product-main
		padding-top: 10px
		padding-bottom: 41px
		&__big-slider
			margin: 0 0 10px
			padding-right: 0
		&__small-slider
			margin-bottom: 52px

// Большой слайдер
.product-priview-slider-big
	$padding: 80px
	background-color: #f8f7f7
	&__slick
	&__item
		position: relative
		padding: $padding
		cursor: url('#{$url-img}/cursor.jpg'), pointer
		+aspect-ratio(1)
	&__img
		position: absolute
		top: $padding
		left: $padding
		width: calc(100% - #{$padding * 2})
		height: calc(100% - #{$padding * 2})
		object-fit: contain
		object-position: 50% 50%

// Мелкий слайдер
.product-priview-slider-small
	$padding: 20px
	&__slick
	&__item
		position: relative
		background-color: #f8f7f7
		border: solid 2px transparent
		transition: all .2s ease-out
		width: 100px
		height: 100px
		padding: $padding
		margin-right: $padding
		&.slick-current
			border: solid 2px $ac
	&__img
		position: absolute
		top: $padding
		left: $padding
		width: calc(100% - #{$padding * 2})
		height: calc(100% - #{$padding * 2})
		object-fit: contain
		object-position: 50% 50%

+media(md)
	.product-priview-slider-small
		$padding: 12px
		&__item
			width: 70px
			height: 70px
			padding: $padding
			margin-right: $padding
		&__img
			top: $padding
			left: $padding
			width: calc(100% - #{$padding * 2})
			height: calc(100% - #{$padding * 2})

// Попап со слайдером
.product-popup
	position: fixed
	z-index: 120
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: #ffffff
	display: none
	opacity: 0
	transition: all .2s ease-out
	&.display
		display: block
	&.visible
		opacity: 1
	&__wrap
		position: relative
		height: 100%
		display: flex
		align-items: center
	&__close
		position: absolute
		z-index: 2
		top: 24px
		right: 60px
	&__slider
		width: 100%

.btn-close
	width: 40px
	height: 40px
	padding: 0
	border: none
	outline: none !important
	background-color: transparent
	cursor: pointer
	&::before,
	&::after
		content: ''
		display: block
		width: 40px
		height: 40px
		position: absolute
		z-index: 1
		top: 0
		left: 0
		background-position: 50% 50%
		background-repeat: no-repeat
	&::before
		background-image: url('#{$url-img}/close-out.svg')
	&::after
		background-image: url('#{$url-img}/close-in.svg')

// Описание товара
.product-preview-info
	&__title
		margin: 0 0 30px
	&__subtitle
		display: block
		margin: 0 0 55px
	&__buttons
		margin: 0 0 75px
		display: flex
		flex-wrap: wrap
	&__desc

+media(md)
	.product-preview-info
		&__title
			margin: 0 0 12px
			text-align: center
			text-transform: uppercase
		&__subtitle
			margin: 0 0 34px
			text-align: center
		&__send,
		&__download
			width: 100%
		&__send
			margin-bottom: 10px
		&__buttons
			margin: 0 0 35px

// Характеристики продуктов
.product-specifications
	&__grid
		width: 100%
		display: grid
		grid-gap: 10px
		grid-template-columns: repeat(auto-fill, minmax(250px,1fr))
		grid-auto-rows: 10px
		grid-auto-flow: dense

// Конфигурации продуктов
.product-configurations
	&__row
		margin-bottom: 22px
		&:last-child
			margin-bottom: 0
	&__title-col
	&__title-cell
		display: none
	&__name
		margin: 0
	&__desc
	&__props

+media(md)
	.product-configurations
		display: flex
		flex-wrap: wrap
		margin-left: -10px
		margin-right: -10px
		&__row
			+b4col(50%)
			margin-left: 0
			margin-right: 0
			&_first
				display: none
		&__title-cell
			display: block
		&__name,
		&__desc
			margin: 0 0 30px

+media(sm)
	.product-configurations
		margin-left: -5px
		margin-right: -5px
		&__row
			+b4col(100%)

// Табы
.b-tabs
	$p: &
	&__head
		display: flex
		justify-content: space-around
		align-items: center
	&__body
		padding: 67px 0 56px
		border-top: 1px solid rgba(#292929, .1)
		border-bottom: 1px solid rgba(#292929, .1)
	&__btn
		padding: 0
		background-color: transparent
		border: none !important
		outline: none !important
		font-size: 14px
		white-space: nowrap
		color: #1a1a1a
		cursor: pointer
	&__h-item
		position: relative
		padding: 0 43px 37px
		&::after
			content: ''
			display: block
			width: 100%
			height: 2px
			position: absolute
			bottom: 0
			left: 0
		&.active
			&::after
				background-color: $ac
			#{$p}__btn
				color: $ac
	&__b-item
		display: none
		&.active
			display: block

+media(md)
	.b-tabs
		&__h-item
			padding: 0 40px 16px
		&__body
			padding: 44px 0 34px

+media(sm)
	.b-tabs
		&__head
			justify-content: flex-start
			overflow-x: scroll
		&__h-item
			padding: 0 0 16px
			margin-right: 28px
			&:last-child
				margin-right: 0

// Инструкции
.product-instructions-list
	margin: 0
	padding: 0
	list-style: none
	&__item
		display: flex
		justify-content: flex-start
		align-items: center
		margin-bottom: 36px
		&:last-child
			margin-bottom: 0
	&__icon
		margin-right: 19px
	&__link
		font-size: 14px
		line-height: 22px
		color: #1a1a1a !important
