/* Страница: Отрасли (список) */
.s-industry-list-cards
	&__col
		margin-bottom: 30px
		&:nth-last-child(2),
		&:nth-last-child(1)
			margin-bottom: 0
	&__card
		height: 100%

+media(md)
	.s-industry-list-cards
		&__col
			margin-bottom: 20px
			
+media(sm)
	.s-industry-list-cards
		&__col
			margin-bottom: 10px
			&:nth-last-child(2)
				margin-bottom: 10px
