/* Страница: Отрасли (список) */

// Карточка статистики
.b-statistic
	padding: 65px 30px
	background-color: #f8f7f7
	text-align: center
	&__title
		margin: 0 0 13px
	&__subtitle

+media(sm)
	.b-statistic
		padding: 34px 42px
