/* Страница: Проекты (список) */

// Каточка навигации
.b-card-navs
	display: flex
	justify-content: center
	align-items: center
	flex-wrap: wrap
	&__btn
		height: 28px
		border: 1px solid rgba(#000, .2)
		border-radius: 14px
		outline: none !important
		margin: 0 10px 20px
		padding: 0 20px
		white-space: nowrap
		text-align: center
		line-height: 28px
		color: #1a1a1a
		cursor: pointer
		background-color: transparent
		transition: all .2s ease-out
		&.active
			background-color: #1a1a1a
			border-color: #1a1a1a
			color: #ffffff
		&:hover, &:focus, &:active
			border-color: #1a1a1a

/* Страница: Проект (один) */

.s-project-info-desc
	&__image
		img
			width: 100%
			height: auto
