// Общие настройки
$font-formats: ("eot", "woff", "ttf"); // Доступны в snippets - eot, woff2, woff, ttf, svg
$url-img: '/img';
$url-font: '/fonts';

// Отступы между колонками
$lgGutter: 30px;
$mdGutter: 20px;
$smGutter: 10px;

// Цвета
$ac: #e2241b;
$acHover: #be1d16;
$text: #1a1a1a;
$textGray: #474747;

// Настройки Bootstrap 
$breakpoints: (
	'sm': 0,
	'md': 768px,
	'lg': 1000px
) !default;

$max-widths: (
	'sm': 100%,
	'md': 720px,
	'lg': 960px
) !default;
